QGroupBox {
    border: 1px solid gray;
    border-radius: 9px;
    margin-top: 0.5em;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 10px;
    padding: 0px 3px 0 3px;
}

QPlainTextEdit {
    background-color: '#FFFFE0';
}

QWidget#mplwindow {
    color: qlineargradient(spread:pad, x1:0.497872, y1:0, x2:0.485106, y2:1, stop:0 rgba(0, 67, 191, 255), stop:1 rgba(0, 0, 0, 255));
    background: qlineargradient( x1:0.497872, y1:0, x2:0.485106, y2:1, stop:0 #000, stop:1 #0043BF);
    background-image: url(images/background.png);
    background-position:center;
    background-repeat:no-repeat;
}

QTabWidget::pane {
    border: 1px solid gray;
    border-radius: 9px;
}

QProgressBar {
    border: 0px;
    text-align: center;
    padding: 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 15px;
}

QProgressBar::chunk {
    background: #00B2EE;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 0px;
}

/* The below QLineEdit border is a bodge to fix bug https://bugreports.qt.io/browse/QTBUG-42575 */
QLineEdit {
    border: 1px;
}

QLineEdit::enabled {
    background-color: #FFFFFF;
}

QLineEdit::disabled {
    background-color: #EDEDED;
}

QPushButton#executeButton:enabled {
            background-color: #c4df9b ;
            }

QPushButton#executeButton:disabled {
            background-color: #b6c3d1 ;
            }

QPushButton#executeButton:hover {
            background-color: #b9d988 ;
            }

QPushButton#executeButton:pressed {
            background-color: #a2cc61 ;
            }


QPushButton#executeButton {
        border-radius: 5px;
        padding: 0.2em 0.2em 0.3em 0.2em;
}

QTextBrowser#metadataEdit {
        font-size: 10pt;
}

QLineEdit#metadataNotesEdit {
        font-size: 10pt;
}

QTextEdit#releasenotesText {
        font-size: 10pt;
}

QLineEdit#commandParameter {
        border: 1px solid #d3d3d3;
}

QLineEdit#StaribusPortLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan0ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan1ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan2ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan3ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan4ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan5ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan6ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan7ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan8ColourLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan0LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan1LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan2LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan3LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan4LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan5LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan6LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan7LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#Chan8LabelEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#StarinetAddressLineEdit {
        border: 1px solid #d3d3d3;
}

QLineEdit#StarinetPortLineEdit {
        border: 1px solid #d3d3d3;
}
